/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: none;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('plane.webp') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8; /* Adjust the opacity value as needed */
    z-index: -1; /* Ensure the background is behind other content */
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #b6b6b6;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Header */
h2 {
    text-align: center;
    color: #c8102e;  /* Air India Red */
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Input Styles */
.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    background-color: #c1bfbf;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #c8102e;  /* Air India Red */
}

/* Login Button */
.login-btn {
    background-color: #c8102e;  /* Air India Red */
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #9e0e26; /* Darker Red */
}

/* Footer Links */
.footer-links {
    text-align: center;
    margin-top: 20px;
}

.footer-links a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #c8102e;  /* Air India Red */
}